<div>

  <div class="example-animate-container" style="padding-top:10px">
    <div class="alert alert-danger animate-repeat" ng-repeat="msjeRor in bienvenidaCtrl.errorEstado">{{msjeRor}}</div>
  </div>
  <div class="panel-heading">
    <h4>Recetas Mostradas</h4>
  </div>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Estado</th>
        <th>Nombre</th>
        <th>Calorias</th>
        <th>Dificultad</th>
        <th>Temporada</th>
        <th> Acciones </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="receta in bienvenidaCtrl.recetasMostradas">
        <td>
          <input type="checkbox" ng-model="receta.esFavorita" name="favorita" disabled="true">
          favorita
        </td>
        <td>
          <a ui-sref="verDetalle({identifier: receta.sId})">{{receta.nombre}}</a>
        </td>
        <td>{{receta.calorias}}</td>
        <td>{{receta.dificultad}}</td>
        <td>{{receta.temporada}}</td>
        <td>
          <button ng-click="bienvenidaCtrl.favearReceta(receta.sId)" class="btn btn-warning">Favorita</button>
          <button ui-sref="editar({identificador: receta.sId})"
                  type="button"
                  class="btn btn-warning">Copiar
          </button>
        </td>
      </tr>
    </tbody>
</div>